@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray: #888888;
  --gray-dark: #404040;
  --gray-light: #C0C0C0;
  --primary: #0000FF;
  --primary-dark: #000080;
  --primary-light: #8080FF;
  --secondary: #FF0000;
  --secondary-dark: #800000;
  --secondary-light: #FF8080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-light: var(--secondary-light);
  --color-gray: var(--gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}